<div class="content_body">
	<h1 class="site-h1">人脸识别  VS 人脸比对</h1>
	<blockquote class="layui-elem-quote">人脸识别：图片识别     人脸比对.如果为人脸比对功能需要先注册对比照片组，只有一张也分为一组<p></p>
	</blockquote>
	
	<div class="site-text site-block">
        <div class="layui-form-item layui-form-text">
	        <label class="layui-form-label">照片组编号</label>
	        <div class="layui-input-block">
	            <input type="text" id="groupId" placeholder="请输入组编号" class="layui-input layui-form-danger"></input>
	        </div>
	        <div class="layui-input-block">
	  			<p class="layui-word-aux" >如果有多个需要比对的头像，全部注册到一个组下边。eg：有10张照片需要比对出跟那个人最相近，这10个人共用一个组编号即可（也可以不填）</p>
	  	  	</div>
	    </div>    
        <div class="layui-form-item layui-form-text">
	        <label class="layui-form-label">注册照片</label>
	        <button type="button" class="layui-btn layui-btn-danger" id="facereg"><i class="layui-icon"></i>上传注册图片</button>
	    </div>    
        <div class="layui-form-item layui-form-text">
	        <label class="layui-form-label">对比照片</label>
	        <button type="button" class="layui-btn layui-btn-danger" id="facecompare"><i class="layui-icon"></i>上传对比图片</button>
	    </div>    
        <div class="layui-form-item layui-form-text">
	        <label class="layui-form-label">人脸检测</label>
	        <button type="button" class="layui-btn" id="facedetect"><i class="layui-icon"></i>上传人脸检测图片</button>
	    </div>    
        <div class="layui-input-block" id="compareId" style="text-align: center;">
        	
  	  	</div>
        <div class="layui-form-item">
        
          <div class="layui-input-block">
            <button class="layui-btn" id="faceregister">步骤一：人脸注册</button>
            <button class="layui-btn" id="faceCompareId">步骤二：人脸比对</button>
          </div>
        </div>
    </div>
    
    <div class="site-title">
      <fieldset><legend><a name="extract_api">人脸注册API</a></legend></fieldset>
    </div>   
    <div class="site-text">
      <p>HTTP协议，支持POST请求，UTF-8编码<em id="test_face_reg" style="color: blue; text-decoration: underline;">测试</em></p>
      <table class="layui-table">
        <thead>
          <tr>
            <th style="width: 100px;">名称</th>
            <th style="width: 100px;">类型</th>
            <th style="width: 100px;">是否必传</th>
            <th>描述</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>key</td>
            <td>varchar</td>
            <td>是</td>
            <td>无限期免费，暂时无用传</td>
          </tr>
          <tr>
            <td>name</td>
            <td>varchar</td>
            <td>是</td>
            <td>姓名,utf-8编码</td>
          </tr>
          <tr>
            <td>groupId</td>
            <td>varchar</td>
            <td>否</td>
            <td>组名，是哪一组的编号</td>
          </tr>
          <tr>
            <td>file</td>
            <td>file</td>
            <td>是</td>
            <td>图片流</td>
          </tr>
          <tr>
        </tr></tbody>
      </table>
      <p>返回示例</p>
      <pre class="layui-code layui-box layui-code-view"><h3 class="layui-code-h3">JSON</h3><ol class="layui-code-ol"><li>{	</li><li>  "data":"085ba5ec70ce4d71a5b8d2494843d17f",(组ID,如果下张图片跟其一组可传改值)	</li><li>  "message": "人脸注册成功",	</li><li>  "result": 1	</li><li>}	</li><li>      </li></ol></pre>
      <pre class="layui-code layui-box layui-code-view"><h3 class="layui-code-h3">JSON</h3><ol class="layui-code-ol"><li>{	</li><li>  "data":null,	</li><li>  "message": "缺少图片或服务器升级",	</li><li>  "result": 0	</li><li>}	</li><li>      </li></ol></pre>
    </div>
    
    <div class="site-title">
      <fieldset><legend><a name="extract_api">人脸对比API</a></legend></fieldset>
    </div>   
    <div class="site-text">
      <p>HTTP协议，支持POST请求，UTF-8编码<em id="test_face_compare" style="color: blue; text-decoration: underline;">测试</em></p>
      <table class="layui-table">
        <thead>
          <tr>
            <th style="width: 100px;">名称</th>
            <th style="width: 100px;">类型</th>
            <th style="width: 100px;">是否必传</th>
            <th>描述</th>
          </tr> 
        </thead>
        <tbody>
          <tr>
            <td>key</td>
            <td>varchar</td>
            <td>是</td>
            <td>无限期免费，暂时无用传</td>
          </tr>
          <tr>
            <td>groupId</td>
            <td>varchar</td>
            <td>是</td>
            <td>组名，是哪一组的编号</td>
          </tr>
          <tr>
            <td>file</td>
            <td>file</td>
            <td>是</td>
            <td>图片流</td>
          </tr>
          <tr>
        </tr></tbody>
      </table>
      <p>返回示例</p>
      <pre class="layui-code layui-box layui-code-view"><h3 class="layui-code-h3">JSON</h3><ol class="layui-code-ol"><li>{	</li><li>  "data":{	</li><li>    "faceId": "wo8u229m9q",</li><li>    "name": "张珍珍",</li><li>    "similarValue": 100,(人脸相似度)</li><li>    "age": 29,</li><li>    "gender": "男"</li><li>  },	</li><li>  "message": "比对成功",	</li><li>  "status": 1	</li><li>}	</li><li>      </li></ol></pre>
      <pre class="layui-code layui-box layui-code-view"><h3 class="layui-code-h3">JSON</h3><ol class="layui-code-ol"><li>{	</li><li>  "data":null,	</li><li>  "message": "无匹配图片或服务器升级",	</li><li>  "result": 0	</li><li>}	</li><li>      </li></ol></pre>
    </div>
	
</div>
<script type="text/javascript">
/*<![CDATA[*/
	layui.use('upload', function(){
		var $ = layui.jquery
		  ,upload = layui.upload;
		
		var groupId=null;
		upload.render({
		    elem: '#facereg'
		    ,url: '/api/face/face_register'
		    ,size: 10240 //限制文件大小，单位 KB  2M
		    ,exts:'jpg|JPG'
		    ,before: function(obj){
		        this.data={'groupId':$("#groupId").val(),'name':'官方测试'};//关键代码
		    } 
		    ,done: function(res){
		      	var result = res;
		         if(result.result==1){
		        	 $("#groupId").val(result.data);
		         }else{
		        	 layer.msg(result.message, {icon: 5});
		         }
		    }
		  });
		upload.render({
		    elem: '#facecompare'
		    ,url: '/api/face/face_compare'
		    ,size: 10240 //限制文件大小，单位 KB  2M
		    ,exts:'jpg|JPG'
		    ,before: function(obj){
		    	$("#compareId").empty();
		        this.data={'groupId':$("#groupId").val()};//关键代码
		    } 
		    ,done: function(res){
		      	var result = res;
		         if(result.result==1){
		        	 var html = '';
	        		 html += '<img style=\"width:100%\" src=\"'+result.data.image+'\"/>';	 
	        		 html += '<p class=\"layui-word-aux\" style=\"color: red!important;\">性别：'+result.data.gender+'</p>';	 
	        		 html += '<p class=\"layui-word-aux\" style=\"color: red!important;\">年龄：'+result.data.age+'</p>';	 
	        		 html += '<p class=\"layui-word-aux\" style=\"color: red!important;\">相似度：'+result.data.similarValue+'</p>';
		        	$("#compareId").html(html);
		         }else{
		        	 layer.msg(result.message, {icon: 5});
		         }
		    }
		  });
		upload.render({
		    elem: '#facedetect'
		    ,url: '/api/face/face_detect'
		    ,size: 10240 //限制文件大小，单位 KB  2M
		    ,exts:'jpg|JPG'
		    ,before: function(obj){
		    	$("#compareId").empty();
		    } 
		    ,done: function(res){
		      	var result = res;
		         if(result.result==1){
		        	 var html = '';
	        		 html += '<img style=\"width:100%\" src=\"'+result.data.image+'\"/>';	 
	        		 html += '<p class=\"layui-word-aux\" style=\"color: red!important;\">总人数：'+result.data.total+'</p>';	
	        		 if(result.data.total > 0){
	        			 html += '<p class=\"layui-word-aux\" style=\"color: red!important;\">性别：';
		        		 $.each(result.data.infos,function(index,item){
			        		 html += item.gender+',';	 
			        		 //html += '<p class=\"layui-word-aux\" style=\"color: red!important;\">年龄：'+item.age+'</p>';
	       				 });
		        		 html += '</p>';	 
	        			 html += '<p class=\"layui-word-aux\" style=\"color: red!important;\">年龄：';
		        		 $.each(result.data.infos,function(index,item){
			        		 html += item.age+',';	 
	       				 });
		        		 html += '</p>';	 
	        		 }
		        	$("#compareId").html(html);
		         }else{
		        	 layer.msg(result.message, {icon: 5});
		         }
		    }
		  });
	});
	
	
	$("#faceCompareId").click(function(){
		 layer.msg('请上传对比图片', {icon: 5});
         return false;
    });
	$("#faceregister").click(function(){
		  layer.msg('请上传注册图片', {icon: 5});
		  return false;
    });
	
	$("#test_face_reg").click(function(){
		layer.msg("先联系作者开通权限，基础说明中有联系方式", {icon: 5});
	});
	$("#test_face_compare").click(function(){
		layer.msg("先联系作者开通权限，基础说明中有联系方式", {icon: 5});
	});
	
/*]]>*/	
</script>
